<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <!-- Start your project here-->
  <div style="container">

            
       <!--Main Navigation-->
<header>

        <nav class="navbar navbar-expand-lg navbar-dark default-color">

            <div class="container">

          <a class="navbar-brand" href="#"><strong>Hacktag</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/course">Course </a>
              </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">

              <li class="nav-item">
                <a href="/logout" class="nav-link">
                        <button class="btn btn-outline-white btn-sm my-0" type="submit">Loout</button>
                </a>
              </li>
            </ul>
          </div>

            </div>
        </nav>
      
      </header>
      <!--Main Navigation-->
  
  </div>


      <!--Main Layout-->
<main class="my-5">

        <div class="container">
          <div class="row">
            <div class="col-md-12">
      
                    @!section('content')
      
            </div>
          </div>
        </div>
      
      </main>
      <!--Main Layout-->

  <!-- Start your project here-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

</body>

</html>
